<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secretary Home View</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('add_employee') }}">Add</a>
            <a href="{{ url_for('delete_employee') }}">Delete</a>
            <a href="{{ url_for('enroll_employee') }}">Enroll</a>
            <a href="{{ url_for('add_wellness_program') }}">Add Program</a>
        </nav>
    </header>
    <h1>Secretary Home View</h1>
    <p1>This is the Secretary View</p1>
</body>
</html>